<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="displayArea">
        <img src="{{ url_for('video_feed') }}" width="640" height="480">
    </div>
            <button id="fw" name="name" >forward</button>
            <button id="lef" name="name" >backward</button>
            <button id="rig" name="name" >left</button>
            <button id="back" name="name">right</button>
            <!-- <button id="btn" name="name" onclick="onClicked('stop')">stop</button> -->
        <script>
            let button1 = document.getElementById('fw');
            let button2 = document.getElementById('lef');
            let button3 = document.getElementById('rig');
            let button4 = document.getElementById('back');

            button1.addEventListener('mousedown', tankCmd("forward"));
            button1.addEventListener('mouseup', tankCmd("stop"));

            button2.addEventListener('mousedown', tankCmd("left"));
            button2.addEventListener('mouseup', tankCmd("stop"));

            button3.addEventListener('mousedown', tankCmd("right"));
            button3.addEventListener('mouseup', tankCmd("stop"));

            button4.addEventListener('mousedown', tankCmd("backward"));
            button4.addEventListener('mouseup', tankCmd("stop"));

            function tankCmd(way) {
                let form = document.createElement("form");
                form.setAttribute("action", "/on");
                form.setAttribute("method", "post");
                form.setAttribute("target", "hiddeniframe");
                form.style.display = "none";
                document.body.appendChild(form);

                let input;
                input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", "name");
                input.setAttribute("value", way);

                form.appendChild(input);
                form.submit();
            }
        </script>
    <iframe hidden name="hiddeniframe"></iframe>
</body>
</html>