html,li,div,body {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#button{
    color: aqua;
}
@media screen and (max-width: 767px) {
    .displayArea{
        width: 50%;
    }
}